/* 0091EA */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  background: #424242;
}

nav {
  background: #45c1b5;
  position: relative;
}

nav .logo,
nav .text {
  vertical-align: middle;
}

nav .logo {
  width: 64px;
}

nav .text {
  width: 140px;
}

.nav-content {
  width: auto;
  position: absolute;
  left: 230px;
  bottom: 0;
}

nav .brand-logo {
  padding: 0 24px;
}

section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background: #424242;
  color: #fff;
}

canvas {
  width: 100%;
}

h2,
.header {
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.upcoming {
  border-left: 1px solid #888;
}



.card.horizontal .time {
  display: inline-block;
  font-size: 1.7em;
  width: 70px;
}

.connected .card {
  position: relative;
  padding: 10px 0;
  background: rgba(255, 255, 255, .2);
  font-size: 26px;
}

.connected .card.horizontal p {
  margin: 5px;
}

.switch {
  float: right;
}

.connected .card::before {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  content: '';
  border-radius: 50%;
  background: #8f8;
  color: #fff;
}

.card.horizontal .card-image img {
  filter: invert(1);
  width: 80px;
  margin-left: 10px;
  margin-top: 7px;
}

.card.horizontal {
  color: #555;
}

.connected .card.horizontal {
  color: #fff;
}

.card.horizontal img {
  padding: 0;
}

.card.horizontal p {
  margin: 0;
  font-size: .9em;
}

.card .card-content {
  padding: 5px 10px;
}

.card.horizontal .card-stacked p {
  margin: 0;
}

.history .btn-flat {
  padding: 0 .6rem;
}

.card {
  margin: .5rem 0;
}

.plan {
  margin: 0 10px;
  width: calc(100% - 30px);
}

.plan .point {
  height: 20px;
  width: 20px;
  margin-left: -10px;
  border-radius: 50%;
  position: absolute;
  background: rgba(255, 0, 0, .7);
  left: 50%;
}

.plan .btn {
  margin-right: 30px;
}

.estimation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 20px;
  margin: 0;
  width: calc(100% - 30px);
}

.week {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 15px);
  margin: 50px 0 30px -15px;
}

.estimation {
  margin-left: 15px;
}

.day {
  width: 10.28%;
  height: 100px;
  margin-left: 30px;
  flex: 1 1 auto;
  align-self: flex-end;
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.draggable,
.drop .item,
.estimation .item {
  flex: 1 1 auto;
  background: #eee;
  align-self: flex-end;
  position: relative;
  margin: 0 10px 10px 0;
  cursor: grabbing;
  overflow: hidden;
  color: #eee;
  transition: all .3s ease;
}

.day .item {
  width: 100%;
}

.drop p,
.estimation p {
  position: absolute;
  width: calc(100% - 10px);
  text-align: center;
  bottom: 5px;
  left: 5px;
  right: 5px;
  margin: 0;
  font-size: 0.9em;
}

.drop .consumption,
.estimation .consumption {
  position: absolute;
  top: 5px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.drop {
  height: 300px;
  background: rgba(255, 255, 255, .2);
}

.day {
  position: relative;
}

.day::before {
  position: absolute;
  top: -25px;
  width: 100%;
  text-align: center;
}

.day.monday::before {
  content: 'Monday';
}

.day.tuesday::before {
  content: 'Tuesday';
}

.day.wednesday::before {
  content: 'Wednesday';
}

.day.thursday::before {
  content: 'Thursday';
}

.day.friday::before {
  content: 'Friday';
}

.day.saturday::before {
  content: 'Saturday';
}

.day.sunday::before {
  content: 'Sunday';
}

.estimate {
  margin-top: 20px;
}

.drop .item {
  margin-right: 0;
  margin-bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, .5);
}














.gu-unselectable{
  -webkit-user-select:none!important;
  -moz-user-select:none!important;
  -ms-user-select:none!important;
  user-select:none!important
}

.gu-mirror{
  display: none;
}

.gu-transit{
  opacity:.2;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter:alpha(opacity=20);
}
